body {
    padding-top: 20px;
    margin: auto;
}
main{
    background-color: rgb(232, 193, 217);
    
}
.navbar{
    font-style:normal;
    font-weight: 500;
    background-size:auto;
    background-color: crimson;
}
.footer{
    background-color: black;
    
}