body {
    padding-top: 80px; 
}

main{
    background-color:rgb(207, 181, 173);
    padding-top: 80px;
    margin-top: 5px;
}

.navbar-nav{
    font-weight: bold;
    font-style: oblique;
    
}
.navbar-nav .nav-link:hover {
    color: rgb(203, 105, 75); 
    transition: color 0.3s ease-in-out; 
}
